*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a
*.txt
test
*.exe

*.dSYM/
*.stackdump
*.core
*.pch
*.log

.DS_Store
Thumbs.db

*.vscode/
.idea/
*.code-workspace
.vscode/
src/resources/models

*~
*.swp
*.tmp
*.bak

vendor/
!vendor/glad/  # Excepción para mantener el código de Glad si está en 'vendor'


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
